<table>
    <tr>
        <th id="th-header">ID</th>
        <th id="th-header">TITLE</th>
        <th id="th-header">YEAR</th>
        <th id="th-header">GENRE</th>
        <th id="th-header">DIRECTOR</th>
        <th id="th-header">ACTOR</th>
        <th id="th-header">RATING</th>
    </tr>

    {{#each this}}
    <tr class="temp">
        <td><a  href="/updateMovies/{{id}}/{{year}}/{{title}}">{{id}}</a></td>
        <td><a  href="/updateMovies/{{id}}/{{year}}/{{title}}">{{title}}</a></td>
        <td><a  href="/updateMovies/{{id}}/{{year}}/{{title}}">{{year}}</a></td>
        <td><a  href="/updateMovies/{{id}}/{{year}}/{{title}}">{{genre}}</a></td>
        <td><a  href="/updateMovies/{{id}}/{{year}}/{{title}}">{{director}}</a></td>
        <td><a  href="/updateMovies/{{id}}/{{year}}/{{title}}">{{actor}}</a></td>
        <td><a  href="/updateMovies/{{id}}/{{year}}/{{title}}">{{rating}}</a></td>
    </tr>
    {{/each}}
            
</table>