 <div class="container">
            <div class="pagesForm" id="pagesAddMovies">
                <label id="pageslbl">Pages:</label>
                <button class = "btn" id="viewSearchBtn" onclick="window.location.href='/';" >View and Search</button>
                <button class = "btn" id="addBtn" onclick="window.location.href='/addMovies';">Add Movies </button>
                <button class = "btn" id="reportsBtn" onclick="window.location.href='/reports';">Generate Reports</button>
            </div>
        
            <label class="lbl1" id="idlbl1"><b>ID: </b></label><br>
            <label class="lbl2" id="idlbl2"><b>{{this.id}}</b></label><br>

            <label class="lbl1" id="idlbl1"><b>Year: </b></label><br>
            <label class="lbl2" id="idlbl2"><b>{{this.year}}</b></label><br>

            
            <form action="/update/{{this.id}}/{{this.year}}/{{this.title}}" method="post" id="updateForm">

                <div class="input-pair">
                    <label class="lbl input-lbl" for="title"><b>Title: </b></label><br>
                    <input class="input-box" type="text" value={{this.title}} id="title" name="title" required> 
                </div>
           

                <button class = "btn" type="submit" id="submitBtn"><strong>Update Movie</strong></button>
            </form>

        </div>